
<div class="row container-min-height" [hidden]="!isEmpty">
    <div class="Page-heading" *ngIf="data.fullName">
        <h3>
        	<a type="button" class="btn block-btn" href="javascript:;" (click)="back()"><i class="fa fa-arrow-circle-left"></i></a>
        	{{data.fullName|titlecase}}'s details
        </h3>
    </div>

    <div class="row rah-date-padding">
    	<div class="col-lg-6 "></div>
	    <div class="col-lg-3 ">
	        <input type="text" name="searchName" id="startDate" class="form-control" placeholder="start date" [(ngModel)]="search">
	    </div>    
	    <div class="col-lg-3">
	        <input type="text" name="searchName" id="endDate" class="form-control" placeholder="end date" [(ngModel)]="search">
	    </div>    
	</div>
	<br /><br />


    <div class="col-lg-4" *ngFor="let measure of data.measures | filterByDate:'updatedAt':startDate:endDate;let i = index">
        <div class="user-text">
            <h4>({{i+1}})</h4>
            <ul>
                <li>
                    FRP Name - {{measure.frp_name}}
                </li>
                <li>
                    Address - {{measure.address}}
                </li>
                <li>
                    ML Name - {{measure.ml_name}}
                </li>
                <li>
                    ML Number - {{measure.ml_no}}
                </li>
                <li>
                    Year - {{measure.year}}
                </li>
                
            </ul>
            <ul class="user-btn">
                <li>
                    <a type="button" class="btn block-btn" (click)="viewModal(measure)">View</a>
                    <a type="button"  class="btn block-btn" target="_blank" (click)="openModal(measure)">Edit</a>
                </li>
                
            </ul>
        </div>
    </div>

    <div class="no-data-found" *ngIf='isEmpty && data.measures && data.measures.length==0'>
        <b>No data found</b>
    </div>
</div>

<div class="modal fade" id="measureModal"  role="dialog">
    <div class="modal-dialog">
        
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"><span *ngIf="!isViewMode">Edit</span> Measurement</h4>
            </div>
            <form id="editMeasureForm" (submit)="editMeasure(editMeasureForm)" #editMeasureForm="ngForm">
                <div class="modal-body">
                    <div class="alert alert-danger" *ngIf="errSuccMeasure.isError">
                      {{errSuccMeasure.errMsg}}
                    </div>
                    <div class="bootstrap-iso">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <form  class="form-horizontal" >
                                        <div class="row">
                                            <div class="form-group col-lg-12">
                                                <label for="ml_no">ML NO</label>
                                                <input [disabled]="isViewMode" type="text" required [(ngModel)]="measure.ml_no" class="form-control" name="ml_no" id="ml_no" placeholder="ML NO"   #ml_no="ngModel">

                                                <div class="error-div" *ngIf="editMeasureForm._submitted && ml_no.errors?.required" >
                                                  this field is required
                                                </div>
                                            </div>
                                        </div>    
                                        <div class="row">
                                            <div class="form-group col-lg-12">
                                                <label for="ml_name">ML NAME</label>
                                                <input type="text" [disabled]="isViewMode" required [(ngModel)]="measure.ml_name" class="form-control" name="ml_name" id="ml_name" placeholder="ML NAME"   #ml_name="ngModel">

                                                <div class="error-div" *ngIf="editMeasureForm._submitted && ml_name.errors?.required" >
                                                  this field is required
                                                </div>
                                            </div>
                                        </div>    
                                        <div class="row">
                                            <div class="form-group col-lg-12">
                                                <label for="year">YEAR</label>
                                                <input type="text" [disabled]="isViewMode" required [(ngModel)]="measure.year" class="form-control" name="year" id="year" placeholder="ML NAME"   #year="ngModel">

                                                <div class="error-div" *ngIf="editMeasureForm._submitted && year.errors?.required" >
                                                  this field is required
                                                </div>
                                            </div>
                                        </div>    
                                        <div class="row">
                                            <div class="form-group col-lg-12">
                                                <label for="frp_name">FRP NAME</label>
                                                <input type="text" [disabled]="isViewMode" required [(ngModel)]="measure.frp_name" class="form-control" name="frp_name" id="frp_name" placeholder="FRP NAME"   #frp_name="ngModel">

                                                <div class="error-div" *ngIf="editMeasureForm._submitted && frp_name.errors?.required" >
                                                  this field is required
                                                </div>
                                            </div>
                                        </div>   
                                        <div class="row">
                                            <div class="form-group col-lg-12">
                                                <label for="address">ADDRESS</label>
                                                <input type="text" [disabled]="isViewMode" required [(ngModel)]="measure.address" class="form-control" name="address" id="address" placeholder="ADDRESS"   #address="ngModel">

                                                <div class="error-div" *ngIf="editMeasureForm._submitted && address.errors?.required" >
                                                  this field is required
                                                </div>
                                            </div>
                                        </div>    
                                        <div class="row">
                                            <div class="form-group col-lg-12">
                                                <label for="lattitude">LATITUDE</label>
                                                <input type="text" [disabled]="isViewMode" required [(ngModel)]="measure.lattitude" class="form-control" name="lattitude" id="lattitude" placeholder="LATITUDE"   #lattitude="ngModel">

                                                <div class="error-div" *ngIf="editMeasureForm._submitted && lattitude.errors?.required" >
                                                  this field is required
                                                </div>
                                            </div>
                                        </div>    
                                        <div class="row">
                                            <div class="form-group col-lg-12">
                                                <label for="longitude">LONGITIDE</label>
                                                <input type="text" [disabled]="isViewMode" required [(ngModel)]="measure.longitude" class="form-control" name="longitude" id="longitude" placeholder="LONGITIDE"   #longitude="ngModel">

                                                <div class="error-div" *ngIf="editMeasureForm._submitted && longitude.errors?.required" >
                                                  this field is required
                                                </div>
                                            </div>
                                        </div>  
                                       
                                        <h4>
                                            <span style="margin-left:-15px"><span *ngIf="!isViewMode">Add </span>Measures</span>
                                            <a type="button" *ngIf="!isViewMode" class="btn block-btn rah-right"  (click)="measure.mesurement_data.push({from:'',to:'',bearing:'',distance:''})"><i class="fa fa-plus"></i></a>
                                        </h4><br />

                                        <table [hidden]="!isViewMode">
                                            <tr>
                                                <th>FROM</th>
                                                <th>TO</th>
                                                <th>BEARING</th>
                                                <th>DISTANCE</th>
                                            </tr>
                                            <tr *ngFor="let x of measure.mesurement_data;let i = index; trackBy:trackByIndex;">
                                                <td>{{x.from}}</td>
                                                <td>{{x.to}}</td>
                                                <td>{{x.bearing}}</td>
                                                <td>{{x.distance}}</td>
                                            </tr>
                                        </table>



                                        <div class="row" [hidden]="isViewMode" *ngFor="let x of measure.mesurement_data;let i = index; trackBy:trackByIndex;">
                                            <div class=" col-lg-3 col-xs-3 col-sm-3">
                                                <div class="form-group">
                                                    <label for="brandName">FROM</label>
                                                    <input type="text" [disabled]="isViewMode" required="" [(ngModel)]="x.from" class="form-control" name="from{{i+1}}" id="from{{i+1}}" placeholder="FROM">

                                                    <div class="error-div" *ngIf="editMeasureForm._submitted && !x.from.length" >
                                                      required
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-3 col-xs-3 col-sm-3">
                                                <div class="form-group">
                                                    <label for="brandName">TO</label>
                                                    <input type="text" [disabled]="isViewMode" required="" [(ngModel)]="x.to" class="form-control" name="to{{i+1}}" id="to{{i+1}}" placeholder="TO">

                                                    <div class="error-div" *ngIf="editMeasureForm._submitted && !x.to.length" >
                                                      required
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-3 col-xs-3 col-sm-3">
                                                <div class="form-group">
                                                    <label for="brandName">BEARING</label>
                                                    <input type="text" [disabled]="isViewMode" required="" [(ngModel)]="x.bearing" class="form-control" name="bearing{{i+1}}" id="bearing{{i+1}}" placeholder="BEARING">

                                                    <div class="error-div" *ngIf="editMeasureForm._submitted && !x.bearing.length" >
                                                      required
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-3 col-xs-3 col-sm-3">
                                                <div class="form-group">
                                                    <label for="brandName">DISTANCE</label>
                                                    <input type="text" [disabled]="isViewMode" required="" [(ngModel)]="x.distance" class="form-control" name="distance{{i+1}}" id="distance{{i+1}}" placeholder="DISTANCE">

                                                    <div class="error-div" *ngIf="editMeasureForm._submitted && !x.distance.length" >
                                                      required
                                                    </div>
                                                </div>
                                            </div>                                                                                        
                                            <!-- <div class="col-lg-2">    
                                                <a type="button" class="btn block-btn rah-btn-top-margin" (click)="product.values.splice(i,1)"><i class="fa fa-minus"></i></a>
                                            </div>     -->
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary " *ngIf="!isViewMode" id="measureBtn" data-loading-text="Submit..." type="submit" >Submit</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </form>    
        </div>
    </div>
</div>