<div id="login-page">
    <div class="container">


    <div class="container main_containerr">
        <div class="row text_conditon" style="margin-bottom: 0%;">
            <h1 style="color: #234d7a;"> Privacy & Policy</h1>
        </div>
        <hr>
        <div class="row text_conditon" style="margin-bottom: 0%;">
            <span><i class="fa fa-arrow-circle-right" aria-hidden="true"></i></span>
            <p> DMG App helps as Distance and Area measurement app.</p>
        </div>
        <div class="row text_conditon" style="margin-bottom: 0%;">
            <span><i class="fa fa-arrow-circle-right" aria-hidden="true"></i></span>
            <p> DMG App gives quick report of survey.
            </p>
        </div>
        <div class="row text_conditon" style="margin-bottom: 0%;">
            <span><i class="fa fa-arrow-circle-right" aria-hidden="true"></i></span>
            <p> You can get a quick lat long through this application as well as DGPS reading.
            </p>
        </div>
        <div class="row text_conditon" style="margin-bottom: 0%;">
            <span><i class="fa fa-arrow-circle-right" aria-hidden="true"></i></span>
            <p> You can save the report in PDF format or you can check save report.
            </p>
        </div>
        <div class="row text_conditon" style="margin-bottom: 0%;">
            <span><i class="fa fa-arrow-circle-right" aria-hidden="true"></i></span>
            <p> You can survey anywhere.
            </p>
        </div>
        <div class="row text_conditon" style="margin-bottom: 0%;">
            <span><i class="fa fa-arrow-circle-right" aria-hidden="true"></i></span>
            <p> Tap on the map and calculate the area.
            </p>
        </div>
        <div class="row text_conditon" style="margin-bottom: 0%;">
            <span><i class="fa fa-arrow-circle-right" aria-hidden="true"></i></span>
            <p> Easy for map field measurement.
            </p>
        </div>
        <div class="row text_conditon" style="margin-bottom: 0%;">
            <span><i class="fa fa-arrow-circle-right" aria-hidden="true"></i></span>
            <p> Customize the unit of GPS Area.
            </p>
        </div>
        <div class="row text_conditon" style="margin-bottom: 0%;">
            <span><i class="fa fa-arrow-circle-right" aria-hidden="true"></i></span>
            <p> Choose from the units as squarefeet, metres, inches etc
            </p>
        </div>
        <div class="row text_conditon" style="margin-bottom: 0%;">
            <span><i class="fa fa-arrow-circle-right" aria-hidden="true"></i></span>
            <p> Just a single tap to erase the current measurement and calculate new one.
            </p>
        </div>
        <div class="row text_conditon" style="margin-bottom: 0%;">
            <span><i class="fa fa-arrow-circle-right" aria-hidden="true"></i></span>
            <p> You may select three, four or more points to calculate the GPS Area.
            </p>
        </div>
        <div class="row text_conditon" style="margin-bottom: 0%;">
            <span><i class="fa fa-arrow-circle-right" aria-hidden="true"></i></span>
            <p> You can save the points in the history of DMG or the distance calculated.
            </p>
        </div>
    </div>

      	
    </div>
</div>

