p {
    line-height: 29px;
    font-size: 18px;
    padding: 0px 15px;
    text-align: justify;
}

hr {
    border-top: 1px solid rgb(35, 77, 122);

}

.text_conditon {
    display: -webkit-inline-box;
    padding: 0% 2%;
    margin-bottom: 2%;
    width: 100%;
}

.text_conditon span {
    font-size: 20px;
    color: #234d7a;
}

.main_containerr {
    padding: 5% 0%;
}

@media only screen and (max-width: 768px) {
    .main_containerr h1 {
        font-size: 20px !important;
    }

    p {
        font-size: 16px !important;
        line-height: 25px;
        padding-right: 0;
    }

    .text_conditon {
        width: 98%;
        padding: 0% 7%
    }
}