    <section id="container">
        <header class="header black-bg" *ngIf="!isLoginPage">
            <!-- <div class="sidebar-toggle-box">
                <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
            </div> -->
            <a href="assets/index.html" class="logo"><b>DMG</b></a>
            <div class="top-menu">
                <ul class="nav pull-right top-menu">
                    <li><a class="logout" (click)="logout()" href="javascript:;">Logout</a></li>
                </ul>
            </div>
        </header>
<!--         <aside *ngIf="!isLoginPage">
            <div id="sidebar" class="nav-collapse ">
                <ul class="sidebar-menu" id="nav-accordion">
                    <p class="centered logo"><a href="assets/profile.html"><img src="assets/img/logo_1.jpg" class="img-responsive" width="90"></a></p>
                    <li class="mt">
                        <a href="">
                          <i class="fa fa-dashboard"></i>
                          <span>Dashboard</span>
                      </a>
                    </li>
                    <li class="mt">
                        <a routerLink="/user-list">
                          <i class="fa fa-desktop"></i>
                          <span>User List</span>
                      </a>
                    </li>
                    <li class="mt">
                        <a href="assets/update-validity.html">
                          <i class="fa fa-cogs"></i>
                          <span>Update Validity</span>
                      </a>
                    </li>
                </ul>
            </div>
        </aside> -->
        <!-- <section id="main-content" [ngClass]="{'main-content':!isLoginPage}"> -->
        <section id="main-content">  
            <section [ngClass]="{'wrapper':!isLoginPage}">
               <router-outlet></router-outlet>
            </section>
        </section>

    </section>