
<div class="row">
    <div class="Page-heading">
        <h3>
            <div class="row">
                <div class="col-lg-6">
                    User List
                </div>
                <select class="col-lg-2" [(ngModel)]="status" (change)="statusChanged()">
                    <option value="">All</option>
                    <option value="Pending">Pending</option>
                    <option value="Blocked">Blocked</option>
                    <option value="Expired">Expired</option>
                    <option value="Approved">Approved</option>
                </select>
                
                <div class="col-lg-4">
                    <input type="text" name="searchName" class="form-control" (input)="updateSearchStr()" placeholder="search..." [(ngModel)]="search">
                </div>    
            </div>
        </h3>
    </div>

    <div class="col-lg-4" *ngFor="let user of users | filter:search | orderBy:'fullName':'string':'ASC';let i = index">

        <span style="position:relative;top:30px;right:-30px;">
            <span style="padding:5px;color:white;background-color: red;" *ngIf="checkValidityOrBlock(user)=='expired'">Expired</span>
            <span style="padding:5px;color:white;background-color: red;" *ngIf="checkValidityOrBlock(user)=='pending'">Pending</span>
            <span style="padding:5px;color:white;background-color: red;" *ngIf="checkValidityOrBlock(user)=='block'">Blocked</span>
            <span style="padding:5px;color:white;background-color: green;" *ngIf="checkValidityOrBlock(user)=='active'">Approved</span>
        </span>
        <!-- <div class="user-text">
        <div style="position:relative;top:30px;right:-30px;color:red" *ngIf="checkValidityOrBlock(user)=='pending'">Pending</div>
        <div class="user-text">
        <div style="position:relative;top:30px;right:-30px;color:red" *ngIf="checkValidityOrBlock(user)=='block'">Block</div> -->
        <div class="user-text">    
            <h4>({{i+1}})</h4>
            <h4><a routerLink="/user-detail/{{user.id}}">{{user.fullName | titlecase}}</a></h4>
            <ul>
                <li>
                    Mobile No - {{user.mobile}}
                </li>
                <li>
                    Email ID - {{user.email}}
                </li>
                <li>
                    Company Name - {{user.companyName}}
                </li>
                <li>
                    Office Name - {{user.officeName}}
                </li>
                <li>
                    Validity Date - <span *ngIf="user.validityDate">{{user.validityDate | date:'dd MMMM, yyyy'}}</span><span *ngIf="!user.validityDate">Not Available</span>
                </li>
                
            </ul>
            <ul class="user-btn">
                <li *ngIf="user.adminVerified">
                    <button type="button" class="btn block-btn" (click)="openModel(user,'block')">Block</button>
                </li>
                <li>
                    <button type="button" class="btn block-btn" (click)="openEditModel(user)">Edit</button>
                </li>
                <li>
                    <!-- <button type="button" class="btn approve-btn" data-toggle="modal" data-target="#myModal">Approve</button> -->
                    <button type="button" class="btn approve-btn" (click)="openModel(user,'approved')">
                        <span *ngIf="!user.adminVerified">Approve</span>
                        <span *ngIf="user.adminVerified">Set Validity</span>
                    </button>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" *ngIf="action == 'approved'">Set your Validity</h4>
                <h4 class="modal-title" *ngIf="action == 'block'">Block User</h4>
            </div>
            <div class="modal-body">
                <div class="alert alert-danger" *ngIf="actionError.isError">
                  {{actionError.msg}}
                </div>
                <p *ngIf="action == 'approved'">Set Validity</p>
                <p *ngIf="action == 'block'">Are you sure you want to block this user?</p>
                <div class="bootstrap-iso" [hidden]="action != 'approved'">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <form  class="form-horizontal" >
                                    <div class="form-group ">
                                        <label class="control-label col-sm-2 requiredField" for="date">
                                            Date
                                        </label>
                                        <div class="col-sm-10">
                                            <div class="input-group">
                                                <div class="input-group-addon">
                                                    <i class="fa fa-calendar">
                                                    </i>
                                                </div>
                                                <input class="form-control" id="date" name="date" placeholder="MM/DD/YYYY" type="text" />
                                                
                                            </div>
                                            <div class="error-div" *ngIf="isDateError">
                                                Please select date
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary " type="button" (click)="modalAction()">Submit</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="editUser" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Edit User</h4>
            </div>

            <form id="editUserForm" (submit)="editUser(editUserForm)" #editUserForm="ngForm">
                <div class="modal-body">
                    <div class="modal-body">
                        <div class="alert alert-danger" *ngIf="errSuccUser.isError">
                          {{errSuccUser.errMsg}}
                        </div>
                        <div class="bootstrap-iso">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <div class="row">
                                            <div class="form-group col-lg-12">
                                                <label for="fullName">Full Name</label>
                                                <input type="text" required [(ngModel)]="selectedUser.fullName" class="form-control" name="fullName" id="fullName" placeholder="Full Name"   #fullName="ngModel">

                                                <div class="error-div" *ngIf="editUserForm._submitted && fullName.errors?.required" >
                                                  this field is required
                                                </div>
                                            </div>
                                        </div>    
                                        <div class="row">
                                            <div class="form-group col-lg-12">
                                                <label for="mobile">Mobile</label>
                                                <input type="number" required [(ngModel)]="selectedUser.mobile" class="form-control" name="mobile" id="mobile" placeholder="Full Name"   #mobile="ngModel">

                                                <div class="error-div" *ngIf="editUserForm._submitted && mobile.errors?.required" >
                                                  this field is required
                                                </div>
                                            </div>
                                        </div>    
                                        <div class="row">
                                            <div class="form-group col-lg-12">
                                                <label for="companyName">Company Name</label>
                                                <input type="text" required [(ngModel)]="selectedUser.companyName" class="form-control" name="companyName" id="companyName" placeholder="Company Name"   #companyName="ngModel">

                                                <div class="error-div" *ngIf="editUserForm._submitted && companyName.errors?.required" >
                                                  this field is required
                                                </div>
                                            </div>
                                        </div>    
                                        <div class="row">
                                            <div class="form-group col-lg-12">
                                                <label for="officeName">Office Name</label>
                                                <input type="text" required [(ngModel)]="selectedUser.officeName" class="form-control" name="officeName" id="officeName" placeholder="Office Name"   #officeName="ngModel">

                                                <div class="error-div" *ngIf="editUserForm._submitted && officeName.errors?.required" >
                                                  this field is required
                                                </div>
                                            </div>
                                        </div>    
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary " id="editUserBtn" data-loading-text="Submit..." type="submit" >Submit</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
                <!-- <div class="modal-footer">
                    <button class="btn btn-primary " type="button" (click)="modalAction()">Submit</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div> -->
            </form> 

        </div>
    </div>
</div>