/* You can add global styles to this file, and also import other style files */
.error-div{
	color:red!important;
	text-align: right;
	margin-top: 0px;
	padding:5px;
}

.no-data-found{
	height:400px;
	width:100%;
	text-align: center;
	line-height: 100px;
}

.container-min-height{
	min-height: 400px;
}

.rah-left{
	float: left;
}
.rah-right{
	float: right;
}

/*body{
	background: url(./../../../assets/img/login-bg.jpg) !important;
}*/