<div id="login-page">
    <div class="container">
      <form class="form-login" (submit)="reset(resetForm)" #resetForm="ngForm">
        <h2 class="form-login-heading">Reset Password</h2>
        <div class="login-wrap">
            <div class="alert alert-danger" *ngIf="actionError.isError">
              {{actionError.msg}}
            </div>
            <div class="alert alert-success" *ngIf="actionSuccess.isSuccess">
              {{actionSuccess.msg}}
            </div>
          	<input type="password" minlength="6" class="form-control" [(ngModel)]="obj.password" [required]="true" name="password" placeholder="password" #password="ngModel" autofocus>
          	<div class="error-div" *ngIf="resetForm._submitted && password.errors?.required" >
  	        	Password is required
  	      	</div>
            <div class="error-div" *ngIf="resetForm._submitted && password.errors?.minlength" >
              password should be 6 characters long
            </div>
          <br>
          <input type="password" minlength="6" class="form-control"  required [(ngModel)]="obj.conPassword" required name="conPassword" placeholder="confirm password" #conPassword="ngModel">
          <div class="error-div" *ngIf="resetForm._submitted && conPassword.errors?.required">
              Confirm Password is required
          </div>
          <div class="error-div" *ngIf="resetForm._submitted && conPassword.errors?.minlength" >
              password should be 6 characters long
          </div>
          <br />
          <button class="btn btn-theme btn-block" id="resetBtn" data-loading-text="Reset..." href="index.html" type="submit">Reset</button>
        </div>
      </form>
    </div>
</div>

